<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button [routerLink]="['/inicial']">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/candidatos']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/sobre']">
        <ion-icon name="help-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="candidato.nome_c" name="nome_c"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Partido</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="candidato.partido_c" name="partido_c"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Numero(5 digitos)</ion-label>
      <ion-input type="text" [(ngModel)]="candidato.numero_c" name="numero_c"></ion-input>
    </ion-item>
    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block">Salvar</ion-button>
    </div>
  </form>
</ion-content>
