<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list class="ion-padding">
  <ion-item-sliding *ngFor="let candidato of candidatos" lines="full">
    <ion-thumbnail slot="start">
      <img style="margin-left: 20px; height: 70px;"src="../../../assets/images/icone.png">
    </ion-thumbnail>
    <ion-label class="ion-padding">
      <div class="ion-padding">
        <h1>Candidato: {{candidato.nome_c}}</h1>
        <p>Partido: {{candidato.partido_c}}</p>
        <p>Número: {{candidato.numero_c}}</p>
      </div>
    </ion-label>
  </ion-item-sliding>
  </ion-list>
  
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button [routerLink]="['/inicial']">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/candidatos']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/sobre']">
        <ion-icon name="help-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <form class="ion-padding" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Numero do Candidato</ion-label>
      <ion-input autocapitalize="off" [(ngModel)]="candidato.numero_c" name="numero_c" (ionClear)="doSearchClear()"
      (ionChange)="doSearchBarChange($event)"></ion-input>
    </ion-item>
    <div class="ion-margin-vertical">
      <audio src="../../../assets/sounds/fim.mp3"></audio>
      <ion-button type="submit" color="secondary" expand="block">Votar</ion-button>
    </div>
    <div class="ion-margin-vertical">
      <ion-button type="button" color="danger" expand="block" [routerLink]="['/candidatos']">Cancelar</ion-button>
    </div>
  </form>
  <div style="height: 200px;" class="ion-padding">
    <ion-button style="margin-top: 390px; margin-top: 390px;" type="button" vertical="bottom" color="danger" clearInput="true" expand="block" [routerLink]="['/candidatos/votos']">Encerrar Eleição</ion-button>
  </div>
</ion-content>
