<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Urna Eletronica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-searchbar placeholder="Procurar"
    (ionClear)="doSearchClear()"
    (ionChange)="doSearchBarChange($event)">
  </ion-searchbar>

  

  <ion-list>
    <ion-item-sliding *ngFor="let candidato of candidatos" lines="full">
      <ion-thumbnail slot="start">
        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Candidato: {{candidato.nome_c}}</h1>
          <p>Partido: {{candidato.partido_c}}</p>
          <p>Número: {{candidato.numero_c}}</p>
          <ion-chip color="success">
            <ion-label>Votos: {{candidato.votos_c}}</ion-label>
          </ion-chip>
        </div>
      </ion-label>
    <ion-item-options side="start">

    <ion-item-option [routerLink]="['edit', candidato.id_c]">
      <ion-icon slot="icon-only" name="create" color="secondary"></ion-icon>
    </ion-item-option>

    <ion-item-option (click)="delete(candidato)">
      <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
    </ion-item-option>

    </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
