<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button [routerLink]="['/inicial']">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/candidatos']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/sobre']">
        <ion-icon name="help-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/images/urna.jpeg">
      <ion-card-subtitle>Sobre a Equipe</ion-card-subtitle>
      <ion-card-title>Sistema de Votos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>  
    <ion-list>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="../../../assets/images/uninassau.png">
        </ion-thumbnail>
        <ion-label>
          <div>
            <h1>Alunos:</h1>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-label style="font-size: 15px;">Paulo Victor Batista do Nascimento - 01294216</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 15px;">Sérgio Roberto Botelho Correia Filho - 01306000</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 15px;">Verônica Pereira de Santana - 01185366</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 15px;">Viviane Pinheiro do Nascimento Castro - 01293898</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 15px;">Felipe Barbosa Teles Barreto da Silva - 01334672</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
